<!doctype html>
<html ng-app="angularApp" ng-cloak xmlns="http://www.w3.org/1999/html">
<head>
    <base href="/" />
    <title> Hi-Lo Application</title>


    <link rel="stylesheet" href="views/cardGame/cardGameStyles.css">
    <link rel="stylesheet" href="resources/bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
<% include "./header.html" %>
<div>
    <ui-view></ui-view>
</div>
</body>

<script src="https://cdn.jsdelivr.net/lodash/4.16.4/lodash.min.js"></script>
<script src="resources/bower_components/jquery/dist/jquery.min.js"></script>
<script src="resources/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="resources/bower_components/angular/angular.min.js"></script>
<script src="resources/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

<script src="app/app.js"></script>
<script src="app/appRouting.js"></script>

<script src="views/cardGame/cardGameCtrl.js"></script>
<script src="views/cardGame/cardGameSrvc.js"></script>

</html>
